canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  display: block;
}

.popup {
  /* position: absolute; */
  width: 50%;
  height: 80%;
  border-radius: 1em / 1em;
  background-color: aqua;
}

.tabs {
  display: flex;
}

.tab-button {
  border: none;
  width: 5em;
  height: 5em;
  margin: 0;
  padding: 0;
}

.team-button {
  background-color: #b0daf9;
  border-top-left-radius: 1em;
}

.work-button {
  background-color: #bdfaeb;
}

.contact-button {
  background-color: #F7959D;
}